div {
    width: 100px;
    height: 100px;
    transition: transform 2s;
}

div:hover {
    color: red;
    transform: rotate(180deg) scale(2);
}

div a {
    transition: color 2s;
}

div:hover a {
    color: red;
}